<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Youtube Downloader</title>
    </head>
    <body>
        <div class="titulo">
            <img id="breathing-button" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c545.png" alt="">
            <h1 class="titulo-color">Youtube Downloader</h1>
        </div>
        
        <h2>Descargar tus videos favoritos de Youtube!</h2>
        <form action="" method="post">
            <input type="text" required name="url" placeholder="Tu URL aqui">
            <div class="botones">
                <button type="submit" formaction="/convierte1" id="cargarBoton" onclick="iniciarCarga()">Descargar Mp4</button>
                <button type="submit" formaction="/convierte2" id="cargarBoton2" onclick="iniciarCarga()">Descargar Mp3</button>
            </div>
        </form>

        <img src="https://media.tenor.com/SI5tOTnHS34AAAAi/verycat-twitch-cat-twitch-emote.gif" alt="" id="barraDeCargaContainer">
            
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="mensaje-container">
                        <h1 class="mensaje">{{ message }}</h1>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <script src="/static/js/script.js"></script>
    </body>
</html>